.userhome {
    padding: 2ex ;
    /* background-color : ; */
}

.relevantprojects {
    padding: 2ex ;
    /* background-color : ; */
}

.dashboard {
    padding: 2ex;
    margin: 1ex;
    /* background-color : ; */
}

.pagination #li {
    color: blue;
    color-interpolation: red;
}

.payment1 {
    margin-left: 500px;
}